html {
  font-family: "Alegreya Sans", sans-serif;
  background-color: #ffffff;
  width: 100vh;
}

.nav {
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-around;
  width: 99vh;
  height: 4vh;
  background-color: #232323;
}

.nav__point {
  flex: 1 1 auto;
  width: max-content;
  background-color: #232323;
  color: #ebebeb;
  text-decoration: none;
  text-align: center;
  padding-top: 1%;
  margin: 0;
}

.nav__point:hover {
  background-color: #54be90;
}

.start {
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99vh;
  height: 35vh;
  margin-top: 7vh;
}
.start h1 {
  color: #ebebeb;
  font-weight: 600;
  margin-bottom: 0.5%;
}
.start h1 em {
  text-decoration: underline;
  text-decoration-color: #ebebeb;
  color: #54be90;
}
.start p {
  color: #ebebeb;
  font-weight: 500;
  margin-top: 0px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 99vh;
  height: 40vh;
}
.intro .intro__text {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  color: #444444;
  font-size: large;
}
.intro .intro__text em {
  font-weight: bold;
}

.intro .intro__flow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 99vh;
  height: 45vh;
  background-color: #232323;
  color: #ebebeb;
}

.intro .intro__flow h3 {
  text-align: center;
  color: #54be90;
}
.intro__point {
  padding: 1%;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.skills__heading {
  justify-self: center;
  text-align: center;
  color: #54be90;
  font-size: x-large;
}
.skills__lang {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 30%;
}
.lang__name {
  width: 15%;
  text-align: center;
}
.language__name-text {
  padding-top: 2px;
  margin-top: 0;
  padding-bottom: 2px;
  background-color: #232323;
  color: #ebebeb;
  text-decoration: solid;
  text-align: center;
}

.lang_progress {
  width: 30vh;
}

#progressbar1,
#progressbar2,
#progressbar3,
#progressbar4,
#progressbar5,
#progressbar6,
#progressbar7,
#progressbar8 {
  width: 300px;
  height: 23px;
  background-color: #dbdbdb;
  margin-bottom: 16px;
}

#progressbar1 > div {
  height: 23px;
  width: 80%;
  background-color: #54be90;
  text-align: right;
}

#progressbar2 > div {
  height: 23px;
  width: 80%;
  background-color: #54be90;
}
#progressbar3 > div {
  height: 25px;
  width: 70%;
  background-color: #54be90;
}
#progressbar4 > div {
  height: 25px;
  width: 60%;
  background-color: #54be90;
}
#progressbar5 > div {
  height: 25px;
  width: 70%;
  background-color: #54be90;
}
#progressbar6 > div {
  height: 25px;
  width: 60%;
  background-color: #54be90;
}
#progressbar7 > div {
  height: 25px;
  width: 60%;
  background-color: #54be90;
}
#progressbar8 > div {
  height: 25px;
  width: 50%;
  background-color: #54be90;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #54be90;
  height: 85vh;
  width: 99vh;
}

.portfolio__heading {
  justify-self: center;
  text-align: center;
  color: #ffffff;
  font-size: x-large;
}

.portfolio__boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-content: space-evenly;
  height: 90%;
  width: 95%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 45%;
  border: #ffffff;
  border-style: solid;
  background-color: #ebebeb;
  margin: 1%;
}

div .box:last-child {
  border-color: black;
}

.box__top {
  height: 50%;
  width: 99%;
  margin: 0;
  border-color: #ffffff;
  border-style: solid;
}
div .box:last-child .box__top {
  border-color: black;
}
.box__bottom {
  height: 50%;
  width: 99%;
  margin: 0;
  border-color: #ffffff;
  border-style: solid;
  text-align: center;
}

div .box:last-child .box__bottom {
  border-color: black;
}

.box__bottom p {
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 3%;
  padding-top: 5%;
  font-size: smaller;
}

.box__bottom h4 {
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 13%;
  padding-left: 3%;
  padding-bottom: 0%;
  justify-self: flex-end;
  text-align: start;
}

.explore {
  margin-top: 23%;
  justify-self: flex-end;
  text-align: center;
  width: 65%;
  color: #ffffff;
  background-color: #54be90;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5%;
  border: 1px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  width: 99vh;
  height: 70vh;
}

.aboutme__heading {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: x-large;
}

.aboutme__content {
  display: flex;
  flex-direction: row;
}
.aboutme__img {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme__img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.aboutme__text {
  width: 55%;
  height: 100%;
}

.aboutme__text p em {
  font-weight: bold;
}
div.aboutme__text p:nth-child(2) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #54be90;
}

.aboutme__text button {
  justify-self: flex-end;
  text-align: center;
  width: 30%;
  color: #ffffff;
  background-color: #54be90;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5%;
  border: 1px;
}

.findme {
  display: flex;
  flex-direction: column;
  width: 99vh;
  height: 30vh;
  background-color: #232323;
}
.findme__heading {
  width: 100vh;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  color: #ffffff;
}

.logos {
  width: 100vh;
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.findme-logo {
  height: 65px;
  width: 65px;
  filter: invert(1);
  margin-left: 5%;
  margin-right: 5%;
}

.contactme {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 99vh;
  height: 65vh;
  background-color: #54be90;
}
.contactme__heading {
  font-size: large;
}
.contactme h2 {
  margin-top: 20%;
  color: #ffffff;
  text-align: center;
}

.contactme__contactinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  height: 30%;
  width: 77%;
}
.contact-box {
  height: 10%;
  width: 40%;
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  background-color: #54be90;
}

.contactme__form {
  height: 30%;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 10vh;
}
.contactme__form label {
  outline: none;
  border: none;
  color: #ffffff;
}
.contactme__form input {
  height: 90%;
  text-align: start;
}
.contactme__form button {
  background-color: #232323;
  color: #ffffff;
  width: 100%;
  align-self: center;
}

::placeholder {
  color: #ffffff;
}
